@font-face {
    font-family: 'Luckiest Guy';
    src: url('../fonts/Luckiest Guy.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Baloo 2';
    src: url('../fonts/Baloo 2.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito.ttf') format('truetype');
    font-display: swap;
}
