:root {
	--black: #343a40;
	--primary-bg: #fff;
	--secondary-bg: #f0f6f6;
	--baloo-2: "Baloo 2";
	--nunito: "Nunito";
	--luckiest-guy: "Luckiest Guy";
	--blue: #06f;
	--pacifico: "Pacifico";
}

::-moz-selection {
    background-color: #ff303c;
	color: var(--primary-bg);
}

::selection,
.btn,
.container-heading::after,
.initial {
    background-color: #ff303c;
	color: var(--primary-bg);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	line-height: 1.7;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s; */
}

body {
	color: var(--black);
	font-family: var(--baloo-2);
	font-size: 140%;
	font-weight: 100;
	box-shadow: 5px 6px 20px 0 rgb(0 0 0 / 10%);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	cursor: crosshair;
}

img {
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

a {
	text-decoration: none;
}

button,
input,
textarea {
	border: none;
	outline: none;
	font-family: var(--baloo-2);
	font-size: 100%;
	font-weight: 300;
}

button {
	cursor: pointer;
}

textarea {
	resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-break: break-word;
	margin: 0;
}

header {
    padding: 0.7rem;
    top: 0;
}

header,
img,
.portfolio,
.portfolio-img,
.portfolio img,
.portfolio-overlay,
.form-input,
.contact,
.portfolio-img img,
.home-img{
    max-width: 100%;
	width: 100%;
}

label,
img,
.nav-toggle,
.nav-toggle::before,
.nav-toggle::after,
.nav-content,
.nav-link {
	display: block;
}

footer,
.nav-content {
	background-color: #0e2431;
}

footer {
	padding: 5rem 1rem;
}

footer,
.btn,
.initial,
.nav-link:not(.active),
.portfolio-img a,
.to-top {
    color: var(--primary-bg);
}

footer .link,
.nav-link:hover,
.active {
	color: #ff303c;
}

p {
	padding: .5rem;
}

.link:hover {
	text-decoration: underline;
}

.text-center {
    text-align: center;
}

.bg-white {
    background-color: var(--primary-bg);
}

.bg-secondary,
.container:nth-child(even) {
    background-color: var(--secondary-bg);
}

.blue {
    color: var(--blue);
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.grid {
    display: grid;
}

.space-between {
    justify-content: space-between;
}

.round {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    z-index: 1024;
}

.shadow {
    box-shadow: 5px 6px 20px 0 rgba(0 0 0 / 3%);
}

.center {
    place-content: center;
    place-items: center;
}

.btn {
    padding: .4rem 1rem;
    border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
}

.btn:not(.form-btn) {
    box-shadow: 0px 0px 17px 0px rgb(0 0 0 / 30%);
}

.btn:hover {
    background-color: #dc3545;
    box-shadow: 0px 0px 0px 4px rgb(255 48 60 / 15%);
}

.header {
    font-family: var(--nunito);
    margin: 0;
    font-weight: 300;
}

.container-heading {
    font-family: var(--luckiest-guy);
    font-weight: 100;
    margin-bottom: 5%;
}

.container-heading::after,
.nav-toggle::before,
.nav-toggle::after {
    content: '';
    position: absolute;
}

.container-heading::after {
    height: 3px;
    width: 10%;
    right: 45%;
    top: 90%;
}

.container {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.trademark {
    user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
             
}

.initial {
    font-family: var(--pacifico);
    width: 40px;
    height: 40px;
    padding-left: .3rem;
}

.home {
    margin-top: 0;
}

.home-img {
    height: 100%;
}

.fr {
    top: .6vh;
}

.nav-toggle-btn {
    padding: 20px 0;
}

.nav-toggle,
.nav-toggle::before,
.nav-toggle::after {
    background-color: var(--black);
    height: 1px;
    width: 35px;
    font-weight: 100;   
}

.nav-toggle::before,
.nav-toggle::after {
    width: 17.5px;
    top: -.7rem;
}

.nav-toggle::after {
    top: .7rem;
}

.nav-toggle-close .nav-toggle {
    background-color: transparent;
}

.nav-toggle-close .nav-toggle::before,
.nav-toggle-close .nav-toggle::after {
    top: 0;
    width: 35px;
    transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
}

.nav-toggle-close .nav-toggle::before {
    transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
}

.nav-content {
    width: 90%;
    top: 100%;
    height: 100vh;
    right: 100%;
    padding: 0 1rem;
}

.nav-content-show,
.nav-toggle::after {
    right: 0;
}

.nav-item {
    list-style-type: none;
}

.nav-item:first-child,
.portfolio:first-child,
.contact-btn,
.about-text,
.home-img,
.portfolio,
.portfolio-desc,
.form-group,
footer p:last-child,
.contact {
    margin-top: 1rem;
}

.nav-link {
    padding: .5rem 0;
}

.nav-link .fr {
    padding-right: 2rem;
}

.container-content {
    padding-right: 1rem;
}

.intro,
.contact {
    padding-top: 1rem;
}

.contact-btn,
.initial {
    display: inline-block;
}

.contact-btn i,
.container-content {
    padding-left: 1rem;
}

.about-img {
    width: 95%;
}

.about-img,
.portfolio,
.portfolio-img,
.portfolio-img img,
.portfolio-overlay,
.contact {
    border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}

.portfolio {
    padding: 1rem .5rem;
    box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 8%);
}

.portfolio-overlay {
    bottom: -10%;
    height: 100%;
    background-color: rgb(0 0 0 / 90%);
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

.portfolio-img:hover .portfolio-overlay {
    animation: cover ease-in-out .8s forwards;
    -webkit-animation: cover ease-in-out .8s forwards;
    -moz-animation: cover ease-in-out .8s forwards;
    -ms-animation: cover ease-in-out .8s forwards;
    -o-animation: cover ease-in-out .8s forwards;
}

.portfolio-img:not(.portfolio-img:hover) .portfolio-overlay {
    animation: close ease-in-out .8s forwards;
    -webkit-animation: close ease-in-out .8s forwards;
    -moz-animation: close ease-in-out .8s forwards;
    -ms-animation: close ease-in-out .8s forwards;
    -o-animation: close ease-in-out .8s forwards;
}

@-webkit-keyframes close {
    0% {
        bottom: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    100% {
        bottom: -10%;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
}

@keyframes close {
    0% {
        bottom: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    100% {
        bottom: -10%;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
}

@-webkit-keyframes cover {
    100% {
        bottom: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);    
    }
}


@keyframes cover {
    100% {
        bottom: 0;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);    
    }
}

.portfolio:not(.portfolio:first-child) {
    margin-top: 2rem;
}

.portfolio-img a {
    opacity: 0;
}

.portfolio-img:hover .portfolio-overlay a {
   opacity: 1;
}

.portfolio-img {
    overflow: hidden;
}

.contact {
    padding-bottom: 2rem;
}

.form-input {
    padding: .2rem .7rem;
    border: 1px solid #e5e7eb;
    border-radius: .7rem;
        -webkit-border-radius: .7rem;
        -moz-border-radius: .7rem;
        -ms-border-radius: .7rem;
        -o-border-radius: .7rem;
}

.form-input:focus {
    border: 1px solid rgba(138 173 229 / 50%);
    box-shadow: 0px 0px 0px 4px rgb(138 173 229 / 15%);
}

.btn.form-input {
    border: none;
}

.fi-rr-copyright {
    padding-right: .2rem;
}

.to-top {
    background-color: rgb(255, 48, 60, .8);
    right: -20%;
    bottom: 2rem;
    padding: .7rem 1rem .3rem 1rem;
}

.to-top-show {
    right: 1rem;
}