:root {
	--black: #343a40;
	--primary-bg: #fff;
	--secondary-bg: #f0f6f6;
	--baloo-2: "Baloo 2";
	--nunito: "Nunito";
	--luckiest-guy: "Luckiest Guy";
	--blue: #06f;
	--pacifico: "Pacifico";
}

::-moz-selection {
	background-color: #8a0007;
	color: var(--primary-bg);
}

::selection {
	background-color: #8a0007;
	color: var(--primary-bg);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	line-height: 1.7;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
}

body {
	color: var(--black);
	font-family: var(--baloo-2);
	font-size: 140%;
	font-weight: 100;
	box-shadow: 5px 6px 20px 0 rgb(0 0 0 / 10%);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	cursor: crosshair;
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

a {
	text-decoration: none;
}

button,
input,
textarea {
	border: none;
	outline: none;
	font-family: var(--baloo-2);
	font-size: 100%;
	font-weight: 300;
}

button {
	cursor: pointer;
}

textarea {
	resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-break: break-word;
	margin: 0;
}

header {
    padding: 0.7rem;
    max-width: 100%;
	width: 100%;
    top: 0;
}

label,
img,
.nav-toggle,
.nav-toggle::before,
.nav-toggle::after,
.nav-content,
.nav-link {
	display: block;
}

footer,
.nav-content {
	background-color: #0e2431;
}

footer {
	color: var(--primary-bg);
	padding: 5rem 1rem;
}

footer .link {
	color: #ff303c;
}

p {
	padding: 0.5rem;
}

.link:hover {
	text-decoration: underline;
}
