@media only screen and (min-width: 400px) {
    header {
        padding-top: .7rem;
        padding-bottom: .7rem;
    }
    
    .nav-content {
        width: 80%;
    }

    .home,
    .about,
    .portfolio,
    .contact {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .portfolio {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 450px) {
    header {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .nav-content {
        width: 75%;
    }
}

@media only screen and (min-width: 500px) {
    .nav-content {
        width: 70%;
    }

    .home,
    .portfolio-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }
}

@media only screen and (min-width: 550px) {
    .home,
    .about,
    .portfolio,
    .contact {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .portfolio {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 600px) {
    .nav-content {
        width: 65%;
    }
}

@media only screen and (min-width: 650px) {
    header {
        padding: 1rem;   
    }
    
    .nav-content {
        width: 60%;
    }
    
    .home,
    .about,
    .portfolio,
    .contact {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .portfolio {
        padding-top: 3.5rem;
        padding-bottom: 2.5rem;
    }
}

@media only screen and (min-width: 712px) {
    header {
        padding: 1rem;   
    }
    
    .nav-content {
        width: 50%;
    }

    .home-img {
        margin-top: 0;
    }

    .portfolio-grid {
        width: 95%;
        margin: auto;
        align-items: start;
    }

    .portfolio:first-child {
        margin-top: 2rem;
    }

    .portfolio {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .portfolio {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .contact-grid {
        display: grid;
        grid-template-areas: "name email"
                             "subject subject"
                             "message message"
                             "submit submit";
        -moz-column-gap: 2rem;
             column-gap: 2rem;
    }

    .name {
        grid-area: name;
    }
    
    .enail {
        grid-area: enail;
    }
    
    .subject {
        grid-area: subject;
    }
    
    .message {
        grid-area: message;
    }
    
    .submit {
        grid-area: submit;
    }
}

@media only screen and (min-width: 1024px) {
    .nav-toggle-btn {
        display: none;
    }
    
    header.flex-column,
    .nav-content .flex {
        flex-direction: row;
        justify-content: space-between;
    }

    header.flex-column {
        padding: 0.7rem;
    }

    .nav-content {
        position: static;
        height: 0;
        top: 0;
    }

    .nav-link {
        padding: 0;
    }

    .nav-link .fr {
        padding-right: .2rem;
    }

    .nav-link .fr {
        top: .1vh;
    }

    .nav-link:not(.active) {
        color: var(--black);
    }

    .nav-item:first-child {
        margin-top: 0;
    }

    .nav-item:not(:last-child) {
        margin-right: 1.49rem;
    }
    
    .home,
    .portfolio-grid,
    .contact-grid {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .home > div:last-child {
        grid-row: 1/2;
    }
    
    .home > div:first-child {
        grid-column: 2/3;
    }

    .contact-grid {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}